<div class="row">
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <img src="../../../assets/fotodeperfil.png" class="img-fluid" id="fotodeperfil">
    </div>

    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <p id="nombre"> Gonzalez Rocío Anabel</p>
        <p id> Full Stack Developer Jr</p>
    </div>

    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
        <h1 >Sobre mi</h1>
        <p> Actualmente estoy estudiando Licenciatura en sistemas y me encuentro realizando cursos de formación en programación, con una mayor inclinación a la parte de  desarrollo Frond end pero en constante búsqueda de información y aprendizaje de otras ramas como UX, Back end y de distintos lenguajes de programación. </p>
    </div>

</div>
