<div class="row">
    <footer>

        <div class="container-footer-all">
    
          <div class="container-body">
    
            <div class="colum1">
              <h1>Proyecto final Argentina programa</h1>
    
              <p>Nos dedicamos a venta y distribución de bebidas alcoholicas. Ideal para quienes quieran conseguir botellas
                y latas de bebidas específicas, lo antes posible</p>
    
            </div>
    
        
    
            <div class="colum3">
    
              <h1>Informacion Contactos</h1>
    
              <div class="row2">
                <img src="../../../assets/house.png">
                <label> <a href="Uhttps://goo.gl/maps/UEPjZUMSJ2dsztbG6">Corrientes Capital</a></label>
              </div>
    
              <div class="row2">
                <img src="../../../assets/smartphone.png">
                <label> <a href="URL DESTINO">+5493794687701</a></label>
              </div>
    
              <div class="row2">
                <img src="../../../assets/contact.png">
                <label> <a href="https://mail.google.com/mail/u/3/#inbox?compose=new">rocioanabelgonzalez07@gmail.com</a></label>
              </div>
    
            </div>
    
          </div>
    
        </div>
    
        <div class="container-footer">
          <div class="footer">
            <div class="copyright">
              © 2023 Todos los Derechos Reservados | <a href="">Rocio Anabel Gonzalez</a>
            </div>

          </div>
    
        </div>
    
      </footer>
</div>