<div class="row">
    <h1>Educación</h1>
    <div class="col-lg-11">
        <ul>
            <li>
                <h1> Secundario</h1> - <h3>(2012-2017)</h3></li>
                <p> Escuela Normal Dr Juan Gregorio Pujol. </p>
        </ul>

        <ul>
            <li>
                <h1> Universidad Nacional del Nordeste</h1> - <h3>(2018-2022)</h3></li>
                <p> Ingenieria industrial. </p>
                <br />
                <p> No terminado  </p> 
        </ul>

        <ul>
            <li>
                <h1> Universidad Nacional del Nordeste</h1> - <h3>(2023)</h3></li>
                <p>Licenciatura en sistemas de información. </p>
                <br />
                <p> En curso </p>
        </ul>

    </div>

</div>
