<div class="row">

    <div class="proyectos">
        <h1>Proyectos realizados</h1>
        <div class="linea"></div>
        <div class="contenedor">

          <div class="col-sm-12 col-md-7 col-lg-7 parte1">
            <h1>Roco's drink</h1>
            <p> Proyecto realizado para curso de Ui Developer de la academia Folcademy a entregar el dia 15 de mayo de 2022. El objetivo de la semana era poder pulir una landing page anterior, debia contar con una “section” conformada por 3 cards minimo, una galeria con imagenes que contengan un hover. Un formulario de contacto donde tenga un "input"/"textarea". Importar un "iframe" de una ubicación de Google Maps.
             En el "footer" tener enlaces a la redes sociales/contacto </p>
          </div>
          <div class="col-sm-12 col-md-3 col-lg-3 offset-md-1 offset-lg-1 parte2">
            <img src="../../../assets/P1.png " class="img-fluid img-proyecto">
          </div>


          <div class="col-sm-12 col-md-7 col-lg-7 parte1">
            <h1>Roco's shoes</h1>
            <p> Proyecto realizado el 22/6/2022 para un curso de UI Developer. El objetivo era usar los componentes de Materialize para realizar una Landing Page. </p>
          </div>
          <div class="col-sm-12 col-md-3 col-lg-3 offset-md-1 offset-lg-1 parte2">
            <img src="../../../assets/p2.png " class="img-fluid img-proyecto">
          </div>

          <div class="col-sm-12 col-md-7 col-lg-7 parte1">
            <h1>Atoi</h1>
            <p> Proyecto realizado el 29/6/2022 para un curso de UI Developer. El objetivo era usar el sistema de grillas de Materialize para poder hacer que la landing page sea responsive y se adapte a 3 tipos de pantallas: movil, tablet y Desktop </p>
          </div>
          <div class="col-sm-12 col-md-3 col-lg-3 offset-md-1 offset-lg-1 parte2">
            <img src="../../../assets/p3.png " class="img-fluid img-proyecto">
          </div>

          <div class="col-sm-12 col-md-7 col-lg-7 parte1">
            <h1>Introduccion a componentes y hooks</h1>
            <p> Proyecto realizado el 18 de julio de 2022 para ser entregado en curso de Folcademy de Front end react developer.</p>
          </div>
          <div class="col-sm-12 col-md-3 col-lg-3 offset-md-1 offset-lg-1 parte2">
            <img src="../../../assets/pp3.png " class="img-fluid img-proyecto">
          </div>


          <div class="col-sm-12 col-md-7 col-lg-7 parte1">
            <h1>Roco's shoes</h1>
            <p> Proyecto realizado el 24 de julio de 2022  en curso de Folcademy de Front end react developer. El objetivo era instalar la libreria Material Ui, elegir los componentes para el proyecto, implementar los mismos usando CSS modular y por ultimo hacer uso de la ponderacion para especificar el estilo. </p>
          </div>
          <div class="col-sm-12 col-md-3 col-lg-3 offset-md-1 offset-lg-1 parte2">
            <img src="../../../assets/pp4.png " class="img-fluid img-proyecto">
          </div>


          <div class="col-sm-12 col-md-7 col-lg-7 parte1">
            <h1>Trabajo Final Argentina programa </h1>
            <p> Proyecto realizado </p>
          </div>
          <div class="col-sm-12 col-md-3 col-lg-3 offset-md-1 offset-lg-1 parte2">
            <img src="../../../assets/p2.png " class="img-fluid img-proyecto">
          </div>


        </div>
     </div> 
</div>

